In [1]:
import pandas as pd

In [2]:
estancia = pd.read_csv('../Limpieza_Datasets/data/Estancia_media_españoles_extranjeros.csv', sep = ';')

In [3]:
estancia = estancia.rename(columns={'Unnamed: 0':'Isla'})

In [4]:
estancia.head()

                    Isla España (Otras CCAA) Extranjero
0                2021M12                 NaN        NaN
1               Mallorca                 5,8        9,1
2                Menorca                 4,6       10,1
3     Eivissa-Formentera                 5,9       12,5
4                2021M11                 NaN        NaN

In [5]:
def espacios (df):
    df.Isla.str.strip()

In [6]:
def inicio(df):    
    df.Isla.str.strip()
    df.insert(1, "Mes/año", "")

In [7]:
def fecha(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["Isla"])
        count += 1    
        if count == 4:
            cambioiloc = (i+1)
            count=0
    df["Mes/año"] = lista_general   

    for i, row in df.iterrows():
        if row['Isla'] in lista_general:
            df.drop(i, inplace=True)

In [8]:
def month_year(df):
    df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str
    df.drop(['Mes/año'], axis = 1, inplace= True)

In [9]:
espacios(estancia)

In [10]:
espacios(estancia)

In [11]:
fecha(estancia)

In [12]:
month_year(estancia)

<ipython-input-8-4b29fdac01bc>:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str

In [13]:
estancia.head()

                    Isla España (Otras CCAA) Extranjero  year month
1               Mallorca                 5,8        9,1  2021    12
2                Menorca                 4,6       10,1  2021    12
3     Eivissa-Formentera                 5,9       12,5  2021    12
5               Mallorca                 4,8        8,1  2021    11
6                Menorca                   6        6,4  2021    11

In [14]:
estancia = estancia.rename(columns={'España (Otras CCAA)':'España'})

In [15]:
estancia

                      Isla España Extranjero  year month
1                 Mallorca    5,8        9,1  2021    12
2                  Menorca    4,6       10,1  2021    12
3       Eivissa-Formentera    5,9       12,5  2021    12
5                 Mallorca    4,8        8,1  2021    11
6                  Menorca      6        6,4  2021    11
..                     ...    ...        ...   ...   ...
294                Menorca    6,1        7,2  2015    11
295     Eivissa-Formentera    6,5        7,6  2015    11
297               Mallorca    5,6        8,2  2015    10
298                Menorca    8,2        8,5  2015    10
299     Eivissa-Formentera    7,3        7,7  2015    10

[225 rows x 5 columns]

In [16]:
def replacee(s):
    i=str(s).find(',')
    if(i>0):
        return s[:i] + '.' + s[i+1:]
    else :
        return s

In [17]:
estancia['España']=estancia['España'].apply(replacee)

In [18]:
estancia['Extranjero']=estancia['Extranjero'].apply(replacee)

In [19]:
estancia['España'] = pd.to_numeric(estancia['España'],errors = 'coerce')

In [20]:
estancia['Extranjero'] = pd.to_numeric(estancia['Extranjero'],errors = 'coerce')

In [21]:
estancia

                      Isla  España  Extranjero  year month
1                 Mallorca     5.8         9.1  2021    12
2                  Menorca     4.6        10.1  2021    12
3       Eivissa-Formentera     5.9        12.5  2021    12
5                 Mallorca     4.8         8.1  2021    11
6                  Menorca     6.0         6.4  2021    11
..                     ...     ...         ...   ...   ...
294                Menorca     6.1         7.2  2015    11
295     Eivissa-Formentera     6.5         7.6  2015    11
297               Mallorca     5.6         8.2  2015    10
298                Menorca     8.2         8.5  2015    10
299     Eivissa-Formentera     7.3         7.7  2015    10

[225 rows x 5 columns]

In [22]:
def espacios (x):
    return x.strip()

In [23]:
estancia.Isla = estancia.Isla.apply(espacios)

In [24]:
estancia

                   Isla  España  Extranjero  year month
1              Mallorca     5.8         9.1  2021    12
2               Menorca     4.6        10.1  2021    12
3    Eivissa-Formentera     5.9        12.5  2021    12
5              Mallorca     4.8         8.1  2021    11
6               Menorca     6.0         6.4  2021    11
..                  ...     ...         ...   ...   ...
294             Menorca     6.1         7.2  2015    11
295  Eivissa-Formentera     6.5         7.6  2015    11
297            Mallorca     5.6         8.2  2015    10
298             Menorca     8.2         8.5  2015    10
299  Eivissa-Formentera     7.3         7.7  2015    10

[225 rows x 5 columns]

In [25]:
def sustituir(x):
    if x == 'Eivissa-Formentera': 
        return 'Ibiza_Formentera'
    else:
        return x

In [26]:
estancia.Isla = estancia.Isla.apply(sustituir)

In [27]:
estancia

                 Isla  España  Extranjero  year month
1            Mallorca     5.8         9.1  2021    12
2             Menorca     4.6        10.1  2021    12
3    Ibiza_Formentera     5.9        12.5  2021    12
5            Mallorca     4.8         8.1  2021    11
6             Menorca     6.0         6.4  2021    11
..                ...     ...         ...   ...   ...
294           Menorca     6.1         7.2  2015    11
295  Ibiza_Formentera     6.5         7.6  2015    11
297          Mallorca     5.6         8.2  2015    10
298           Menorca     8.2         8.5  2015    10
299  Ibiza_Formentera     7.3         7.7  2015    10

[225 rows x 5 columns]

In [28]:
estancia.Isla.unique()

array(['Mallorca', 'Menorca', 'Ibiza_Formentera'], dtype=object)

In [29]:
estancia.dtypes

Isla           object
España        float64
Extranjero    float64
year           object
month          object
dtype: object

In [30]:
#estancia.to_csv(r'estancias.csv', index = False, header=True)