In [1]:
import pandas as pd
from datetime import datetime
import warnings
import numpy as np

In [2]:
paquete = pd.read_csv('../Limpieza_Datasets/data/Gasto_paquete_NOpaquete_islacsv.csv', sep = ';')

In [3]:
paquete.head(10)

,Unnamed: 0,Gasto total (millones de euros),Gasto por persona (euros),Gasto por persona y día (euros)
0,2021M12,NaN,NaN,NaN
1,Mallorca,NaN,NaN,NaN
2,TOTAL,"139,15","886,78","111,45"
3,Con paquete turístico,"7,84",868,"195,77"
4,Sin paquete turístico,"131,31","887,93","108,66"
5,Menorca,NaN,NaN,NaN
6,TOTAL,"4,62","569,33","97,75"
7,Con paquete turístico,"0,11","300,2","184,6"
8,Sin paquete turístico,"4,51","581,58","96,68"
9,Eivissa-Formentera,NaN,NaN,NaN

In [4]:
def renomcolumna(df):
    df.rename(columns={'Unnamed: 0':'procedencia',
                      'Gasto total (millones de euros)':'gasto_total',
                      'Gasto por persona (euros)':'gasto_persona',
                      'Gasto por persona y día (euros)':'gasto_persona_dia'},inplace=True)
    df.insert(1, "Mes/año", "")
    df.insert(2, "Isla", "")

In [5]:
renomcolumna(paquete)

In [6]:
paquete.procedencia = paquete.procedencia.str.strip()

In [7]:
def fecha(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["procedencia"])
        count += 1    
        if count == 13:
            cambioiloc = (i+1)
            count=0
    df["Mes/año"] = lista_general   

    for i, row in df.iterrows():
        if row['procedencia'] in lista_general:
            df.drop(i, inplace=True)

In [8]:
fecha(paquete)

In [9]:
paquete.reset_index(inplace=True)

In [10]:
paquete.drop(columns = 'index', inplace = True)

In [11]:
paquete.head()

,procedencia,Mes/año,Isla,gasto_total,gasto_persona,gasto_persona_dia
0,Mallorca,2021M12,,NaN,NaN,NaN
1,TOTAL,2021M12,,"139,15","886,78","111,45"
2,Con paquete turístico,2021M12,,"7,84",868,"195,77"
3,Sin paquete turístico,2021M12,,"131,31","887,93","108,66"
4,Menorca,2021M12,,NaN,NaN,NaN

In [12]:
def lugar(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["procedencia"])
        count += 1    
        if count == 4:
            cambioiloc = (i+1)
            count=0
    df["Isla"] = lista_general   

    for i, row in df.iterrows():
        if row['procedencia'] in lista_general:
            df.drop(i, inplace=True)
        if row['procedencia'] == 'TOTAL':
            df.drop(i, inplace=True)

In [13]:
lugar(paquete)

In [14]:
def month_year(df):
    df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str
    df.drop(['Mes/año'], axis = 1, inplace= True)

In [15]:
month_year(paquete)

<ipython-input-14-4b29fdac01bc>:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str

In [16]:
paquete.head(15)

,procedencia,Isla,gasto_total,gasto_persona,gasto_persona_dia,year,month
2,Con paquete turístico,Mallorca,"7,84",868,"195,77",2021,12
3,Sin paquete turístico,Mallorca,"131,31","887,93","108,66",2021,12
6,Con paquete turístico,Menorca,"0,11","300,2","184,6",2021,12
7,Sin paquete turístico,Menorca,"4,51","581,58","96,68",2021,12
10,Con paquete turístico,Eivissa-Formentera,"0,71","856,4","176,23",2021,12
11,Sin paquete turístico,Eivissa-Formentera,"18,18","739,69","87,95",2021,12
14,Con paquete turístico,Mallorca,"19,59","1.080,11","174,64",2021,11
15,Sin paquete turístico,Mallorca,"153,82","867,03","121,89",2021,11
18,Con paquete turístico,Menorca,"0,41","534,76","177,22",2021,11
19,Sin paquete turístico,Menorca,"5,41","593,75","93,17",2021,11
22,Con paquete turístico,Eivissa-Formentera,"1,02","874,88","178,87",2021,11
23,Sin paquete turístico,Eivissa-Formentera,"19,75","759,41","81,76",2021,11
26,Con paquete turístico,Mallorca,"315,56","1.039,58","154,17",2021,10
27,Sin paquete turístico,Mallorca,"614,55","1.034,58","140,9",2021,10
30,Con paquete turístico,Menorca,"17,35","1.014,68","162,56",2021,10

In [21]:
paquete.dtypes

procedencia          object
Isla                 object
gasto_total          object
gasto_persona        object
gasto_persona_dia    object
year                 object
month                object
dtype: object

In [22]:
def cambiar (strnum):

    strnum = strnum.replace(".","")
    return strnum.replace(",",".")

In [23]:
paquete['gasto_persona'] = paquete['gasto_persona'].apply(cambiar)
paquete['gasto_persona'] = pd.to_numeric(paquete['gasto_persona'], errors = 'coerce')

In [25]:
paquete['gasto_persona_dia'] = paquete['gasto_persona_dia'].apply(cambiar)
paquete['gasto_persona_dia'] = pd.to_numeric(paquete['gasto_persona_dia'], errors = 'coerce')

In [27]:
#paquete.gasto_persona.unique()

In [28]:
paquete['year'] = paquete['year'].astype(str).astype(int)

In [29]:
paquete['month'] = paquete['month'].astype(str).astype(int)

In [31]:
paquete.dtypes

procedencia           object
Isla                  object
gasto_total           object
gasto_persona        float64
gasto_persona_dia    float64
year                   int64
month                  int64
dtype: object

In [32]:
paquete.drop('gasto_total', inplace=True, axis=1)

In [33]:
paquete

,procedencia,Isla,gasto_persona,gasto_persona_dia,year,month
2,Con paquete turístico,Mallorca,868.00,195.77,2021,12
3,Sin paquete turístico,Mallorca,887.93,108.66,2021,12
6,Con paquete turístico,Menorca,300.20,184.60,2021,12
7,Sin paquete turístico,Menorca,581.58,96.68,2021,12
10,Con paquete turístico,Eivissa-Formentera,856.40,176.23,2021,12
...,...,...,...,...,...,...
891,Sin paquete turístico,Mallorca,854.84,107.84,2015,10
894,Con paquete turístico,Menorca,902.45,108.74,2015,10
895,Sin paquete turístico,Menorca,715.08,83.45,2015,10
898,Con paquete turístico,Eivissa-Formentera,907.27,114.28,2015,10
899,Sin paquete turístico,Eivissa-Formentera,817.83,108.39,2015,10

In [35]:
paquete.to_csv(r'paquete_Nopaquete.csv', index = False, header=True)