In [1]:
import pandas as pd

In [2]:
gasto_isla_2015 = pd.read_csv('../Limpieza_Datasets/data/Gasto_total_isla_2015.csv', sep=';')

In [3]:
gasto_isla_2015 = gasto_isla_2015.rename(columns={'Unnamed: 0':'Isla',
                                       'Gasto medio por persona':'Gasto por persona',
                                       'Gasto medio diario':'Gasto por persona y día'})

In [4]:
def espacios (df):
    df.Isla.str.strip()

In [5]:
espacios(gasto_isla_2015)

In [6]:
def inicio(df):    
    df.Isla.str.strip()
    df.insert(1, "Mes/año", "")
    
def fecha(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["Isla"])
        count += 1    
        if count == 4:
            cambioiloc = (i+1)
            count=0
    df["Mes/año"] = lista_general   

    for i, row in df.iterrows():
        if row['Isla'] in lista_general:
            df.drop(i, inplace=True)

In [7]:
inicio(gasto_isla_2015)
fecha(gasto_isla_2015)

In [8]:
def month_year(df):
    df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str
    df.drop(['Mes/año'], axis = 1, inplace= True)

In [9]:
month_year(gasto_isla_2015)

<ipython-input-8-4b29fdac01bc>:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str

In [10]:
gasto_isla_2015.head(15)

,Isla,Gasto total,Gasto por persona y día,Gasto por persona,year,month
1,Mallorca,1.222.549,"112,89","919,91",2015,09
2,Menorca,150.051,"96,06","844,17",2015,09
3,Eivissa-Formentera,430.723,"121,81","977,88",2015,09
5,Mallorca,1.837.000,"118,14","1.045,96",2015,08
6,Menorca,303.470,"105,49","966,75",2015,08
7,Eivissa-Formentera,597.859,"125,82","995,54",2015,08
9,Mallorca,1.694.900,"117,96","1.005,22",2015,07
10,Menorca,234.841,"99,98","847,68",2015,07
11,Eivissa-Formentera,545.116,"125,81","975,46",2015,07
13,Mallorca,1.259.589,"113,93","900,9",2015,06
14,Menorca,156.388,"96,32","762,79",2015,06
15,Eivissa-Formentera,350.307,"118,05","832,45",2015,06
17,Mallorca,967.050,"114,68","797,57",2015,05
18,Menorca,87.341,"88,33","710,28",2015,05
19,Eivissa-Formentera,217.103,"103,84","716,76",2015,05

In [11]:
gasto_isla_2015 = gasto_isla_2015[['Isla','Gasto total','Gasto por persona','Gasto por persona y día','year','month']]

In [12]:
gasto_isla_2015

,Isla,Gasto total,Gasto por persona,Gasto por persona y día,year,month
1,Mallorca,1.222.549,"919,91","112,89",2015,09
2,Menorca,150.051,"844,17","96,06",2015,09
3,Eivissa-Formentera,430.723,"977,88","121,81",2015,09
5,Mallorca,1.837.000,"1.045,96","118,14",2015,08
6,Menorca,303.470,"966,75","105,49",2015,08
...,...,...,...,...,...,...
250,Menorca,206.609,"855,42","94,17",2010,07
251,Eivissa-Formentera,472.654,"1.052,04","126,35",2010,07
253,Mallorca,978.023,"891,15","119,27",2010,06
254,Menorca,135.293,"872,24","105,89",2010,06
255,Eivissa-Formentera,311.740,"984,79","115,31",2010,06

In [13]:
#total_establecim_plazas.to_csv(r'total_establecimientos.csv', index = False, header=True)