In [1]:
import pandas as pd

import warnings
warnings.simplefilter('ignore')

In [2]:
tipo_gasto_2021 = pd.read_csv('../Limpieza_Datasets/data/Gasto_partida_de_gasto_2019_2020_2021.csv', sep = ';')
tipo_gasto_2018 = pd.read_csv('../Limpieza_Datasets/data/Gasto_partida_de_gasto_2018_2017_2016_2015.csv', sep = ';')

In [3]:
tipo_gasto_2021

,Unnamed: 0,GASTO TOTAL,1) Gasto incluido en paquete turístico,2) Gasto no incluido en paquete turístico,2.1) Gasto en transporte origen/destino,2.2) Gasto en alojamiento,2.3) Gasto en manutención,2.4) Gasto en actividades,2.5) Resto de gastos
0,2021M12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mallorca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TOTAL,"139,15","5,33","133,82","24,55","27,71","34,87","30,65","16,03"
3,España (Otras CCAA),"24,58",...,"24,4","5,68","4,82","5,38","4,16","4,36"
4,Extranjero,"114,57","5,15","109,42","18,87","22,89","29,49","26,49","11,67"
...,...,...,...,...,...,...,...,...,...
463,Extranjero,...,...,...,...,...,...,...,...
464,Eivissa-Formentera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,TOTAL,"17,01",...,"16,09","4,89","0,55","5,74","3,73","1,19"
466,España (Otras CCAA),"8,84",...,"8,71","2,26","0,35","3,95","1,95","0,2"
467,Extranjero,"8,17",...,"7,38","2,63",...,"1,79","1,77","0,99"

In [4]:
def renomcolumna(df):
    df.rename(columns={'Unnamed: 0':'procedencia'},inplace=True)
    df.insert(1, "Mes/año", "")
    df.insert(2, "Isla", "")

In [5]:
renomcolumna(tipo_gasto_2021)
renomcolumna(tipo_gasto_2018)

In [6]:
def fecha(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["procedencia"])
        count += 1    
        if count == 13:
            cambioiloc = (i+1)
            count=0
    df["Mes/año"] = lista_general
    
    for i, row in df.iterrows():
        if row['procedencia'] in lista_general:
            df.drop(i, inplace=True)

In [7]:
fecha(tipo_gasto_2021)

In [8]:
fecha(tipo_gasto_2018)

In [9]:
def indice(df):
    df.reset_index(inplace=True)
    df.drop(columns = 'index', inplace = True)

In [10]:
indice(tipo_gasto_2021)

In [11]:
indice(tipo_gasto_2018)

In [12]:
tipo_gasto_2021.procedencia = tipo_gasto_2021.procedencia.str.strip()

In [13]:
tipo_gasto_2018.procedencia = tipo_gasto_2018.procedencia.str.strip()

In [14]:
def lugar(df):
    count = 0
    cambioiloc = 0
    lista_general = []
    for i,row in df.iterrows():
        lista_general.append(df.iloc[cambioiloc]["procedencia"])
        count += 1    
        if count == 4:
            cambioiloc = (i+1)
            count=0
    df["Isla"] = lista_general   
    
    for i, row in df.iterrows():
        if row['procedencia'] in lista_general:
            df.drop(i, inplace=True)
        if row['procedencia'] == 'TOTAL':
            df.drop(i, inplace=True)

In [15]:
lugar(tipo_gasto_2021)

In [16]:
lugar(tipo_gasto_2018)

In [17]:
def month_year(df):
    df['year'], df['month'] = df["Mes/año"].str.split('M', 1).str
    df.drop(['Mes/año'], axis = 1, inplace= True)

In [18]:
month_year(tipo_gasto_2021)

In [19]:
month_year(tipo_gasto_2018)

In [20]:
tipo_gasto_2018

,procedencia,Isla,GASTO TOTAL,1) Gasto incluido en paquete turístico,2) Gasto no incluido en paquete turístico,2.1) Gasto en transporte origen/destino,2.2) Gasto en alojamiento,2.3) Gasto en manutención,2.4) Gasto en actividades,2.5) Resto de gastos,year,month
2,España (Otras CCAA),Mallorca,...,...,...,...,...,...,...,...,2018,12
3,Extranjero,Mallorca,...,...,...,...,...,...,...,...,2018,12
6,España (Otras CCAA),Menorca,...,...,...,...,...,...,...,...,2018,12
7,Extranjero,Menorca,...,...,...,...,...,...,...,...,2018,12
10,España (Otras CCAA),Eivissa-Formentera,...,...,...,...,...,...,...,...,2018,12
...,...,...,...,...,...,...,...,...,...,...,...,...
459,Extranjero,Mallorca,"763,81","301,57","462,24","67,01","117,09","114,74","90,5","72,91",2015,10
462,España (Otras CCAA),Menorca,"10,64",...,"10,25","2,27","2,19","2,83","0,85","2,11",2015,10
463,Extranjero,Menorca,"39,64","20,98","18,66","2,05","4,61","5,48",4,"2,51",2015,10
466,España (Otras CCAA),Eivissa-Formentera,"17,76",...,"17,42","3,94","3,25","5,84","2,54","1,85",2015,10
467,Extranjero,Eivissa-Formentera,"129,24","27,86","101,38","18,65","26,8","26,26","18,16","11,51",2015,10

In [21]:
tipo_gasto = pd.concat([tipo_gasto_2021, tipo_gasto_2018])

In [22]:
tipo_gasto

,procedencia,Isla,GASTO TOTAL,1) Gasto incluido en paquete turístico,2) Gasto no incluido en paquete turístico,2.1) Gasto en transporte origen/destino,2.2) Gasto en alojamiento,2.3) Gasto en manutención,2.4) Gasto en actividades,2.5) Resto de gastos,year,month
2,España (Otras CCAA),Mallorca,"24,58",...,"24,4","5,68","4,82","5,38","4,16","4,36",2021,12
3,Extranjero,Mallorca,"114,57","5,15","109,42","18,87","22,89","29,49","26,49","11,67",2021,12
6,España (Otras CCAA),Menorca,"2,53",...,"2,5","0,75","0,39","0,72","0,27","0,38",2021,12
7,Extranjero,Menorca,"2,09","0,03","2,06","0,25","0,59","0,63","0,34","0,25",2021,12
10,España (Otras CCAA),Eivissa-Formentera,"8,17",...,"8,15","1,75","1,56","2,51","1,58","0,76",2021,12
...,...,...,...,...,...,...,...,...,...,...,...,...
459,Extranjero,Mallorca,"763,81","301,57","462,24","67,01","117,09","114,74","90,5","72,91",2015,10
462,España (Otras CCAA),Menorca,"10,64",...,"10,25","2,27","2,19","2,83","0,85","2,11",2015,10
463,Extranjero,Menorca,"39,64","20,98","18,66","2,05","4,61","5,48",4,"2,51",2015,10
466,España (Otras CCAA),Eivissa-Formentera,"17,76",...,"17,42","3,94","3,25","5,84","2,54","1,85",2015,10
467,Extranjero,Eivissa-Formentera,"129,24","27,86","101,38","18,65","26,8","26,26","18,16","11,51",2015,10

In [23]:
def sustituir(x):
    if x == 'Eivissa-Formentera': 
        return 'Ibiza_Formentera'
    else:
        return x

In [24]:
tipo_gasto.Isla=tipo_gasto.Isla.apply(sustituir)

In [27]:
tipo_gasto['procedencia'] = tipo_gasto['procedencia'].str.replace(r"\(.*\)","").str.rstrip()

In [29]:
tipo_gasto = tipo_gasto.rename(columns={'GASTO TOTAL':'gasto',
                                        '1) Gasto incluido en paquete turístico':'borrar',
                                        '2) Gasto no incluido en paquete turístico':'eliminar',
                                        '2.1) Gasto en transporte origen/destino':'Transporte',
                                        '2.2) Gasto en alojamiento':'Alojamiento',
                                        '2.3) Gasto en manutención':'Manutención',
                                        '2.4) Gasto en actividades':'Actividades',
                                        '2.5) Resto de gastos':'Otros'})

In [30]:
tipo_gasto

,procedencia,Isla,gasto,borrar,eliminar,Transporte,Alojamiento,Manutención,Actividades,Otros,year,month
2,España,Mallorca,"24,58",...,"24,4","5,68","4,82","5,38","4,16","4,36",2021,12
3,Extranjero,Mallorca,"114,57","5,15","109,42","18,87","22,89","29,49","26,49","11,67",2021,12
6,España,Menorca,"2,53",...,"2,5","0,75","0,39","0,72","0,27","0,38",2021,12
7,Extranjero,Menorca,"2,09","0,03","2,06","0,25","0,59","0,63","0,34","0,25",2021,12
10,España,Ibiza_Formentera,"8,17",...,"8,15","1,75","1,56","2,51","1,58","0,76",2021,12
...,...,...,...,...,...,...,...,...,...,...,...,...
459,Extranjero,Mallorca,"763,81","301,57","462,24","67,01","117,09","114,74","90,5","72,91",2015,10
462,España,Menorca,"10,64",...,"10,25","2,27","2,19","2,83","0,85","2,11",2015,10
463,Extranjero,Menorca,"39,64","20,98","18,66","2,05","4,61","5,48",4,"2,51",2015,10
466,España,Ibiza_Formentera,"17,76",...,"17,42","3,94","3,25","5,84","2,54","1,85",2015,10
467,Extranjero,Ibiza_Formentera,"129,24","27,86","101,38","18,65","26,8","26,26","18,16","11,51",2015,10

In [31]:
tipo_gasto.drop(columns=['gasto', 'borrar', 'eliminar'], inplace = True)

In [32]:
tipo_gasto

,procedencia,Isla,Transporte,Alojamiento,Manutención,Actividades,Otros,year,month
2,España,Mallorca,"5,68","4,82","5,38","4,16","4,36",2021,12
3,Extranjero,Mallorca,"18,87","22,89","29,49","26,49","11,67",2021,12
6,España,Menorca,"0,75","0,39","0,72","0,27","0,38",2021,12
7,Extranjero,Menorca,"0,25","0,59","0,63","0,34","0,25",2021,12
10,España,Ibiza_Formentera,"1,75","1,56","2,51","1,58","0,76",2021,12
...,...,...,...,...,...,...,...,...,...
459,Extranjero,Mallorca,"67,01","117,09","114,74","90,5","72,91",2015,10
462,España,Menorca,"2,27","2,19","2,83","0,85","2,11",2015,10
463,Extranjero,Menorca,"2,05","4,61","5,48",4,"2,51",2015,10
466,España,Ibiza_Formentera,"3,94","3,25","5,84","2,54","1,85",2015,10
467,Extranjero,Ibiza_Formentera,"18,65","26,8","26,26","18,16","11,51",2015,10

In [33]:
def cambiar (strnum):

    strnum = strnum.replace(".","")
    return strnum.replace(",",".")

In [35]:
tipo_gasto['Transporte'] = tipo_gasto['Transporte'].apply(cambiar)
tipo_gasto['Transporte'] = pd.to_numeric(tipo_gasto['Transporte'], errors = 'coerce')

In [36]:
tipo_gasto['Alojamiento'] = tipo_gasto['Alojamiento'].apply(cambiar)
tipo_gasto['Alojamiento'] = pd.to_numeric(tipo_gasto['Alojamiento'], errors = 'coerce')

In [37]:
tipo_gasto['Manutención'] = tipo_gasto['Manutención'].apply(cambiar)
tipo_gasto['Manutención'] = pd.to_numeric(tipo_gasto['Manutención'], errors = 'coerce')

In [38]:
tipo_gasto['Actividades'] = tipo_gasto['Actividades'].apply(cambiar)
tipo_gasto['Actividades'] = pd.to_numeric(tipo_gasto['Actividades'], errors = 'coerce')

In [39]:
tipo_gasto['Otros'] = tipo_gasto['Otros'].apply(cambiar)
tipo_gasto['Otros'] = pd.to_numeric(tipo_gasto['Otros'], errors = 'coerce')

In [41]:
tipo_gasto['year'] = tipo_gasto['year'].astype(str).astype(int)
tipo_gasto['month'] = tipo_gasto['month'].astype(str).astype(int)

In [43]:
tipo_gasto.dtypes

procedencia     object
Isla            object
Transporte     float64
Alojamiento    float64
Manutención    float64
Actividades    float64
Otros          float64
year             int64
month            int64
dtype: object

In [44]:
#tipo_gasto.to_csv(r'partida_gasto.csv', index = False, header=True)