In [1]:
import pandas as pd
import numpy as np

In [2]:
alojamiento_2015 = pd.read_csv('../Limpieza_Datasets/data/Tipo_alojamiento_isla_2015.csv', sep = ';')

In [3]:
alojamiento_2015.head(15)

,Unnamed: 0,Mallorca,Menorca,Eivissa-Formentera
0,2015M09,NaN,NaN,NaN
1,Hoteles o similares,912.833,128.793,265.787
2,Alojamiento en propiedad,44.473,12.151,19.063
3,Alojamiento en alquiler,214.558,21.490,55.873
4,Alojamiento de familiares o amigos,85.897,12.232,38.695
5,Otros,71.223,3.085,61.047
6,2015M08,NaN,NaN,NaN
7,Hoteles o similares,1.215.532,192.699,391.618
8,Alojamiento en propiedad,68.459,20.310,26.316
9,Alojamiento en alquiler,264.786,65.527,75.410
10,Alojamiento de familiares o amigos,144.590,23.120,53.896
11,Otros,62.906,12.250,53.295
12,2015M07,NaN,NaN,NaN
13,Hoteles o similares,1.188.020,173.431,351.277
14,Alojamiento en propiedad,59.562,17.438,30.427

In [4]:
alojamiento_2015 = alojamiento_2015.rename(columns={'Unnamed: 0':'tipo_alojamiento',
                                                   'Eivissa-Formentera':'Ibiza_Formentera'})
alojamiento_2015.insert(1, "Mes/año", "")
alojamiento_2015.tipo_alojamiento = alojamiento_2015.tipo_alojamiento.str.strip()

In [5]:
alojamiento_2015.head(20)

,tipo_alojamiento,Mes/año,Mallorca,Menorca,Ibiza_Formentera
0,2015M09,,NaN,NaN,NaN
1,Hoteles o similares,,912.833,128.793,265.787
2,Alojamiento en propiedad,,44.473,12.151,19.063
3,Alojamiento en alquiler,,214.558,21.490,55.873
4,Alojamiento de familiares o amigos,,85.897,12.232,38.695
5,Otros,,71.223,3.085,61.047
6,2015M08,,NaN,NaN,NaN
7,Hoteles o similares,,1.215.532,192.699,391.618
8,Alojamiento en propiedad,,68.459,20.310,26.316
9,Alojamiento en alquiler,,264.786,65.527,75.410
10,Alojamiento de familiares o amigos,,144.590,23.120,53.896
11,Otros,,62.906,12.250,53.295
12,2015M07,,NaN,NaN,NaN
13,Hoteles o similares,,1.188.020,173.431,351.277
14,Alojamiento en propiedad,,59.562,17.438,30.427
15,Alojamiento en alquiler,,256.532,59.250,87.626
16,Alojamiento de familiares o amigos,,124.202,19.330,42.997
17,Otros,,57.781,7.590,46.501
18,2015M06,,NaN,NaN,NaN
19,Hoteles o similares,,1.071.119,140.010,244.973

In [6]:
count = 0
cambioiloc = 0
listafecha = []
for i,row in alojamiento_2015.iterrows():
    listafecha.append(alojamiento_2015.iloc[cambioiloc]["tipo_alojamiento"])
    count += 1    
    if count == 6:
        cambioiloc = (i+1)
        count=0

In [7]:
alojamiento_2015["Mes/año"] = listafecha

In [8]:
for i, row in alojamiento_2015.iterrows():
    if row['tipo_alojamiento'] in listafecha:
        alojamiento_2015.drop(i, inplace=True)

In [9]:
alojamiento_2015['year'], alojamiento_2015['month'] = alojamiento_2015["Mes/año"].str.split('M', 1).str
alojamiento_2015 = alojamiento_2015.drop(['Mes/año'], axis = 1)
alojamiento_2015.head(15)

<ipython-input-9-9e6a1e53c1f3>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  alojamiento_2015['year'], alojamiento_2015['month'] = alojamiento_2015["Mes/año"].str.split('M', 1).str

,tipo_alojamiento,Mallorca,Menorca,Ibiza_Formentera,year,month
1,Hoteles o similares,912.833,128.793,265.787,2015,09
2,Alojamiento en propiedad,44.473,12.151,19.063,2015,09
3,Alojamiento en alquiler,214.558,21.490,55.873,2015,09
4,Alojamiento de familiares o amigos,85.897,12.232,38.695,2015,09
5,Otros,71.223,3.085,61.047,2015,09
7,Hoteles o similares,1.215.532,192.699,391.618,2015,08
8,Alojamiento en propiedad,68.459,20.310,26.316,2015,08
9,Alojamiento en alquiler,264.786,65.527,75.410,2015,08
10,Alojamiento de familiares o amigos,144.590,23.120,53.896,2015,08
11,Otros,62.906,12.250,53.295,2015,08
13,Hoteles o similares,1.188.020,173.431,351.277,2015,07
14,Alojamiento en propiedad,59.562,17.438,30.427,2015,07
15,Alojamiento en alquiler,256.532,59.250,87.626,2015,07
16,Alojamiento de familiares o amigos,124.202,19.330,42.997,2015,07
17,Otros,57.781,7.590,46.501,2015,07

In [10]:
alojamiento_2015.head(15)

,tipo_alojamiento,Mallorca,Menorca,Ibiza_Formentera,year,month
1,Hoteles o similares,912.833,128.793,265.787,2015,09
2,Alojamiento en propiedad,44.473,12.151,19.063,2015,09
3,Alojamiento en alquiler,214.558,21.490,55.873,2015,09
4,Alojamiento de familiares o amigos,85.897,12.232,38.695,2015,09
5,Otros,71.223,3.085,61.047,2015,09
7,Hoteles o similares,1.215.532,192.699,391.618,2015,08
8,Alojamiento en propiedad,68.459,20.310,26.316,2015,08
9,Alojamiento en alquiler,264.786,65.527,75.410,2015,08
10,Alojamiento de familiares o amigos,144.590,23.120,53.896,2015,08
11,Otros,62.906,12.250,53.295,2015,08
13,Hoteles o similares,1.188.020,173.431,351.277,2015,07
14,Alojamiento en propiedad,59.562,17.438,30.427,2015,07
15,Alojamiento en alquiler,256.532,59.250,87.626,2015,07
16,Alojamiento de familiares o amigos,124.202,19.330,42.997,2015,07
17,Otros,57.781,7.590,46.501,2015,07

In [11]:
alojamiento_2015.tipo_alojamiento.unique()

array(['Hoteles o similares', 'Alojamiento en propiedad',
       'Alojamiento en alquiler', 'Alojamiento de familiares o amigos',
       'Otros'], dtype=object)

Para unir los dataFrame de "tipo de alojamiento", se van a realizar los siguientes cambios:
* En la columna 'Tipo de alojamiento' se deben unificar conceptos para poder hacer la unión:
    - 'Hoteles y similares', ' Alojamiento de alquiler' y 'Alojamiento en propiedad' van a ser igual.
    - 'Alojamiento de familiares o amigos' se va a considerar que es igual a 'Otro alojamiento no de mercado', se cambia el nombre en la columna. --> Unificado a 'Alojamiento de familiares o amigos'.
    - 'Otros' y 'Otro alojamiento de mercado' van a considerarse mismos datos. -> Unificado a 'Otro alojamiento de mercado'

In [12]:
'''array(['1. Alojamiento de mercado', 
       
       'Hoteles y similares',
       'Alojamiento de alquiler', 
       'Otro alojamiento de mercado',
       
       ' 2. Alojamiento de no mercado', 
       
       ' Vivienda en propiedad',
       'Otro alojamiento no de mercado']'''

"array(['1. Alojamiento de mercado', \n       \n       'Hoteles y similares',\n       'Alojamiento de alquiler', \n       'Otro alojamiento de mercado',\n       \n       ' 2. Alojamiento de no mercado', \n       \n       ' Vivienda en propiedad',\n       'Otro alojamiento no de mercado']"

In [13]:
(alojamiento_2015.loc[(alojamiento_2015.loc[:,'tipo_alojamiento'] == 'Otros')])

    tipo_alojamiento Mallorca Menorca  Ibiza_Formentera  year month
5              Otros   71.223   3.085            61.047  2015    09
11             Otros   62.906  12.250            53.295  2015    08
17             Otros   57.781   7.590            46.501  2015    07
23             Otros   53.814   5.231            34.206  2015    06
29             Otros   79.400   1.423            29.756  2015    05
..               ...      ...     ...               ...   ...   ...
359            Otros   27.060   1.880             3.453  2010    10
365            Otros   45.954   3.624             6.641  2010    09
371            Otros   31.700  10.210            18.254  2010    08
377            Otros   60.061   8.329            11.213  2010    07
383            Otros   28.695   5.096             7.638  2010    06

[64 rows x 6 columns]

In [14]:
alojamiento_2015["tipo_alojamiento"].replace({"Otros": "Otro alojamiento de mercado"}, inplace=True)

In [15]:
alojamiento_2015

,tipo_alojamiento,Mallorca,Menorca,Ibiza_Formentera,year,month
1,Hoteles o similares,912.833,128.793,265.787,2015,09
2,Alojamiento en propiedad,44.473,12.151,19.063,2015,09
3,Alojamiento en alquiler,214.558,21.490,55.873,2015,09
4,Alojamiento de familiares o amigos,85.897,12.232,38.695,2015,09
5,Otro alojamiento de mercado,71.223,3.085,61.047,2015,09
...,...,...,...,...,...,...
379,Hoteles o similares,921.093,117.832,245.821,2010,06
380,Alojamiento en propiedad,44.730,7.101,17.557,2010,06
381,Alojamiento en alquiler,32.896,19.592,34.028,2010,06
382,Alojamiento de familiares o amigos,70.660,8.981,17.187,2010,06
383,Otro alojamiento de mercado,28.695,5.096,7.638,2010,06

In [16]:
alojamiento_pmi = alojamiento_2015[['tipo_alojamiento','year', 'month', 'Mallorca']]
alojamiento_pmi.insert(1, "Isla", "Mallorca")
alojamiento_pmi = alojamiento_pmi.rename(columns={'Mallorca':'Num_establecimientos'})

In [17]:
alojamiento_mah = alojamiento_2015[['tipo_alojamiento','year', 'month', 'Menorca']]
alojamiento_mah.insert(1, "Isla", "Menorca")
alojamiento_mah = alojamiento_mah.rename(columns={'Menorca':'Num_establecimientos'})

In [18]:
alojamiento_ibz = alojamiento_2015[['tipo_alojamiento','year', 'month', 'Ibiza_Formentera']]
alojamiento_ibz.insert(1, "Isla", "Ibiza_Formentera")
alojamiento_ibz = alojamiento_ibz.rename(columns={'Ibiza_Formentera':'Num_establecimientos'})

In [19]:
alojamiento_ok = pd.concat([alojamiento_pmi, alojamiento_mah, alojamiento_ibz])

In [20]:
alojamiento_ok

,tipo_alojamiento,Isla,year,month,Num_establecimientos
1,Hoteles o similares,Mallorca,2015,09,912.833
2,Alojamiento en propiedad,Mallorca,2015,09,44.473
3,Alojamiento en alquiler,Mallorca,2015,09,214.558
4,Alojamiento de familiares o amigos,Mallorca,2015,09,85.897
5,Otro alojamiento de mercado,Mallorca,2015,09,71.223
...,...,...,...,...,...
379,Hoteles o similares,Ibiza_Formentera,2010,06,245.821
380,Alojamiento en propiedad,Ibiza_Formentera,2010,06,17.557
381,Alojamiento en alquiler,Ibiza_Formentera,2010,06,34.028
382,Alojamiento de familiares o amigos,Ibiza_Formentera,2010,06,17.187
383,Otro alojamiento de mercado,Ibiza_Formentera,2010,06,7.638

In [22]:
alojamiento_ok.to_csv(r'num_establecim_2015_yalimpio.csv', index = False, header=True)